.calendar-form th {
  text-align: center;
}

.calendar-form td:first-child, .calendar-form td:last-child, .calendar-form td:nth-child(5), .calendar-form td:nth-child(9), .calendar-form td:nth-child(13), .calendar-form td:nth-child(17) {
  background: #757575;
}

.calendar-layout {
  width: 100%;
}

.calendar-layout td div {
  width: 50px;
}

.calendar-layout td:first-child div {
  width: 40px;
}

#calendar-error {
  font-size: 24px;
  color: #510400;
  text-align: center;
  background: rgba(180, 4, 0, 0.3);
}
